:root {
    --cloudy-color: rgb(8, 101, 138);
    --background-color: rgba(55, 53, 56, 0.33);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

#background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

html,
body {
    height: 100%;
}

h1 {
    height: 100%;
    font-size: 4em;
}

header {
    border-bottom: solid 3px black;
    height: calc(8vh - 3px);
    text-align: center;
    background-color: var(--background-color);
}

main {
    display: flex;
    height: 84vh;
}

nav {
    margin-top: 0;
    border-right: 2px solid black;
    height: 100%;
    width: 15%;
    background-color: rgba(53, 56, 55, 0.33);
}

form,
form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

form {
    margin-top: 18%;
    min-height: 175px;
}

input,
select {
    width: 80%;
    border: solid 1px black;
}

input:hover {
    cursor: pointer;
}

.weatherCard {
    height: 90%;
    width: 80%;
    margin: auto;
    border: solid 2px black;
    border-radius: 20px;
    background-color: rgba(53, 56, 55, 0.33);
    backdrop-filter: blur(10px);
}

h2 {
    font-size: 2.5em;
    text-align: center;
    height: 7%;
    margin: 2%;
}

.result {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    height: 18%;
    margin: 1vw;
    border: solid 2px black;
    border-radius: 15px;
}

footer {
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    height: 8vh;
    width: 100%;
    border-top: solid 2px black;
    background-color: var(--background-color);
}

#image {
    margin-top: 10%;
    height: 80%;
}
#crew {
    font-size: 2em;
    margin: auto;
}
