* {
    margin: 0;
    padding: 0;
}



html, body{
    height: 100%;
}

h1{
    border-bottom: solid 3px black;
    height: 100%;
}

header {
    height: 5vh;
    text-align: center;
}


main {
    display: flex;
    height: 90vh;
}

nav {
    margin-top: 0;
    border-right: 2px solid black;
    height: 100%;
    width: 15%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.weatherCard {
    height: 90%;
    width: 80%;
    margin: auto;
    border: solid 2px black;
    border-radius: 20px;
}

h2{
    font-size: 3em;
    text-align: center;
    margin: 2%;
}

#result{
    font-size: 1.5em;
    text-align: center;
    padding: 2.7vw;
    margin: 1vw;
    border: solid 2px black;
    border-radius: 15px;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
    border-top: solid 2px black;
}


#image{
    width: 25%;
    height: 25%;
}